<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/style.css" rel="stylesheet">
    <title>BOID | App </title>
  </head>
  <body>
    <div class="container px-1 mx-auto">
      {{> header}}

      {{{ body }}}
    </div>
  </body>
  <script type="module" src="/js/index.js"></script>
  <script src="/js/preline.js"></script>
  <!-- Page-Specific Scripts -->
  {{#each _blocks.pageScripts}}{{{this}}}{{/each}}
</html>
